body{
	background: url("../img/background.gif");
	background-attachment: fixed;
}

#logo{
	background: url("../img/background.gif");
}
#menu{
	background: url("../img/background.gif");
}

#menu ul li:hover{
	background: #333;
}

.button-more{
	background: url("../img/background.gif");
}
#sidebar h4{
	background: url("../img/background.gif");

}
form input[type="submit"]{
	font-size: 15px;
	padding: 5px;
	border: 1px solid gray;
	font-family: Helvetica, Arial;
	background: url("../img/background.gif");

}
