*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.clearfix{
	float: none;
	clear: both;
}
body{
	background: url("../img/background.gif");
	background-attachment: fixed;
}

#global{
	width: 65%;
	margin: 0px auto;
	margin-top: 30px;
	padding: 20px;
	background: white;
}
#logo{
	
	font-family: "Verdana", "Arial";
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 4px;
	line-height: 45px;
	background: black;
	color: white;
	text-align: center;
	width: 385px;
	height: 50px;
	margin-bottom: 20px;
	float: left;

}
#menu{
	font-family: Helvetica, Arial;
	background: #333;
	width: 100%;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#menu ul{
	line-height: 46px;
	list-style: none;
}

#menu ul li{
	height: 46px;
	display: inline-block;
	transition: all 300ms;
}

#menu ul li:hover{
	background: black;
}

#menu a{
	display: block;
	color:white;
	text-decoration:none;
	padding-left: 30px;
	padding-right: 30px;
}

#post{
	width: 60%;
	float: left;
	font-family: Helvetica, Arial;
}

.post h2{
	font-size:30;
	color:#333;
}

.post .date{
	display: block;
	color:gray;
	margin-top: 5px;
}
.post p{
	margin-top: 30px;
	margin-bottom: 20px;
	line-height: 25px;
}